html, body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

.note {
    width: 10px;
    height: 100%;
    background-color: black;
    position: absolute;
}

.noted {
    width: 5px;
    height: 100%;
    background-color: black;
    display: inline;
    position: absolute;
}

.row {
    width: 100%;
    height: 5%;

    overflow: hidden;    
    position: relative;
    -webkit-transition: all 1000ms ease;
                -moz-transition: all 1000ms ease;
                -ms-transition: all 1000ms ease;
                -o-transition: all 1000ms ease;
                transition: all 1000ms ease;
}

.row:hover {
    background-color: blue;
}